<div class="page-title">
  <h1>All Pet Lovers</h1>
</div>
<hr />

<div>
  <%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
</div>

<%= @users.each do |user| %>
  <ul class="listing">
    <div class="row">
      <div class="well col-md-6 col-md-offset-0">
        <li><%= link_to profile_pic(user), user_path(user) %></li>
        <li class="article-title">
          <%= link_to user.username, user_path(user) %>
        </li>
        <li><small><%= pluralize(user.articles.count, "article") if user.articles  %></small></li>
      </div>
    </div>  
  </ul>    
<% end %>

<div>
  <%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
</div>