<div class="page-title">
  <h1><%= profile_pic(@user) %> <%= @user.username  %></h1>
</div>
<hr />

<div id="user-article-title">
  <h4><%= @user.username %>'s articles</h4>
</div>
<hr />
<%= will_paginate @user_articles, renderer: BootstrapPagination::Rails %>
<%= render 'articles/article', obj: @user_articles %>
<%= will_paginate @user_articles, renderer: BootstrapPagination::Rails %>