<div class="page-title">
  <h1><%= @user.username  %></h1>
</div>
<hr />

<div class="row">
  <div id="profile-pic" class="col-md-4 col-md-offset-4 center">
    <% if @user.photo.file? %>
    <%= image_tag @user.photo.url(:medium), class: "img-circle" %>
    <% else %>
    <%= image_tag 'missingProf.png' %>
    <% end %>
  </div>
</div>

<h4><%= @user.username %>'s articles</h4>
<%= render 'articles/article', obj: @user.articles %>