<div class="page-title">
  <h1><%= "#{@category.name}" %> Category</h1>
</div>
<% if logged_in? and current_user.admin? %>
<div class="row edit-category">
  <span class="badge"><%= link_to "Edit category name", edit_category_path(@category) %></span>
</div>
<% end %>

<hr />

<div align="center">
  <%= will_paginate @category_articles, renderer: BootstrapPagination::Rails %>
</div>

<%= render 'articles/article', obj: @category_articles %>

<div align="center">
  <%= will_paginate @category_articles, renderer: BootstrapPagination::Rails %>
</div>
